/* @tailwind base;
@tailwind components; */
@tailwind utilities;

/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'G Sans Text', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: #202124;
}

#root {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  text-decoration: none;
  color: #2c58a8;
}

a:hover {
  text-decoration: none;
}

a.active {
  background-color: #e4eaf4;
}

a.active:hover {
  background-color: #e4eaf4;
}

.left-nav-logo {
   /* #c1af3e */
  background-image: linear-gradient(80deg, #331f14, #c1af3e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-color: #ccc;
  background-size: 100%;
  background-repeat: repeat;
}
/* $palette-name: 'One Piece
$palette-color1: #c8472c;
$palette-color2: #412a1e;
$palette-color3: #f8de3c;
$palette-color4: #fefefe;
$palette-color5: #58acf4;
$palette-color6: #105edd;
$palette-color7: #0b3075; */